/* For Mobiles */
@media screen and (max-width: 600px) {

    /* Shared Responsive */
    h2 {
        font-size: var(--font-size-price);
        margin-bottom: 16px;
    }

    .common-paragraph-style {
        font-size: var(--font-size-phone-normal);
        line-height: 24px;
    }

    .common-paragraph-accent-light-color-style {
        font-size: var(--font-size-phone-normal);
        line-height: 24px;
    }

    /* Navbar Responsive */
    #navbar {
        margin: 17px auto;
    }

    header,
    main {
        width: 93.333%;
        max-width: 600px;
        margin: 0 auto;
    }

    #navbar .nav-logo-container {
        gap: 5px;
    }

    #navbar .nav-logo-container h3 {
        font-size: 1.346rem;
    }

    #navbar .nav-menu-container ul {
        display: none;
    }

    #navbar .nav-menu-container .nav-menu-icon-container {
        display: inline;
    }

    /* Banner Responsive */
    #banner-container {
        height: 550px;
    }

    #banner-container h1 {
        font-size: 1.375rem;
        margin-bottom: 10px;
    }

    #banner-container p {
        width: 94.6428%;
        max-width: 560px;
        font-size: 0.875rem;
        line-height: 21px;
        margin-bottom: 32px;
    }

    #banner-container .banner-input-container {
        width: 91.4285%;
        max-width: 512px;
    }

    #banner-container .banner-input-container form {
        flex-direction: column;
        gap: 16px;
    }

    #banner-container .banner-input-container form .input-container {
        width: 93.75%;
        max-width: 480px;
    }

    /* Popular Tour Responsive Section Start*/
    #popular-tours-section {
        height: auto;
        margin: 24px auto;
        gap: 24px;
        flex-direction: column;
    }

    #popular-tours-section .popular-tours-text-container {
        height: auto;
        width: 100%;
    }

    #popular-tours-section .popular-tours-text-container .popular-tours-button-container {
        width: auto;
    }

    #popular-tours-section .popular-tours-image-container {
        height: 342px;
        width: 100%;
    }

    /* Popular Tour Responsive Section End*/

    /* Destination Gallery Responsive Section Start */
    #destination-gallery-section {
        margin-bottom: var(--gap-mobile);
    }

    /* Destination Gallery Responsive Section End */
}

/* For Tablets */
@media screen and (min-width: 601px) and (max-width: 991px) {

    /* Shared Responsive */
    h2 {
        font-size: var(--font-size-section-tab-header);
    }

    .common-paragraph-style {
        line-height: 22px;
    }

    .common-paragraph-accent-light-color-style {
        line-height: 22px;
    }

    /* Navbar responsive */
    header,
    main {
        width: 91.92%;
        max-width: 911px;
        margin: 0 auto;
    }

    #navbar .nav-menu-container ul {
        display: none;
    }

    #navbar .nav-menu-container .nav-menu-icon-container {
        display: inline;
    }

    /* Banner Responsive Start */
    #banner-container p {
        width: 93.413%;
        max-width: 851px;
        line-height: 20px;
        margin-bottom: 40px;
    }

    #banner-container .banner-input-container {
        width: 91.2184%;
        max-width: 831px;
        /* padding: 16px; */
    }

    /* Banner Responsive End*/

    /* Popular Tour Responsive Section Start */
    #popular-tours-section .popular-tours-text-container .popular-tours-description-footer-text {
        margin-bottom: 28px;
    }

    /* Popular Tour Responsive Section End */

    /* Destination Gallery Responsive Section Start */
    /* Destination Gallery Responsive Section End */
}