@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');

:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --accent-color: rgba(19, 19, 24, 0.70);
    --accent-light-color: #5A5A5D;
    --font-size-page-header: 4rem;
    --font-size-section-header: 2.5rem;
    --font-size-section-title: 1.5rem;
    --font-size-price: 1.25rem;
    --font-size-normal: 1rem;
    --font-weight-bold: 800;
    --font-weight-semibold: 700;
    --font-weight-normal: 400;
    --font-family-body: 'Mulish', sans-serif;
    --font-family-inter: 'Inter', sans-serif;
    --border-radius-primary: 16px;
    --border-radius-secondary: 8px;
    /* Gradient */
    --background-gradient-banner: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00)100%);
    /* Background Images */
    --background-image-banner: url("../images/banner-image.png");
    --background-image-popular-tour: url("../images/popular-tour-image.png");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-body);
}

header,
main {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Shared Styles */
.common-button-style {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: var(--border-radius-secondary);
    border: none;
}

/* Navbar Styles Start */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 53px auto;
}

#navbar .nav-logo-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

#navbar .nav-logo-container h3 {
    font-size: 2.25rem;
    font-weight: var(--font-weight-bold);
}

#navbar .nav-logo-container span {
    color: var(--primary-color);
}

#navbar .nav-logo-container .img-container {
    width: 48px;
    height: 56.008px;
    display: flex;
    align-items: center;
}

#navbar .nav-logo-container img {
    width: 100%;
}

#navbar .nav-menu-container ul {
    display: flex;
    gap: 44px;
    list-style-type: none;
}

#navbar .nav-menu-container ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
    font-weight: var(--font-weight-normal);
}

#navbar .nav-menu-container ul li a span {
    color: var(--primary-color);
    font-weight: var(--font-weight-semibold);
}

#navbar .nav-menu-container .nav-menu-icon-container {
    height: 24px;
    width: 24px;
    display: none;
}

#navbar .nav-menu-container .nav-menu-icon-container img {
    width: 100%;
}

/* Navbar Styles End */

/* Banner Styles Start */
#banner-container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--background-gradient-banner), var(--background-image-banner);
    border-radius: var(--border-radius-primary);
    background-size: cover;
    background-position: center;
    color: #fff;
}

#banner-container h1 {
    font-size: var(--font-size-page-header);
    font-weight: var(--font-weight-bold);
    margin-bottom: 24px;
}

#banner-container p {
    width: 57.777%;
    max-width: 676px;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    line-height: 26px;
    margin-bottom: 48px;
    text-align: center;
}

#banner-container .banner-input-container {
    width: 68.376%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: var(--border-radius-secondary);
    padding: 16px;
}

#banner-container .banner-input-container form {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

#banner-container .banner-input-container form .input-container {
    width: 25%;
    max-width: 174px;
    height: 52px;
}

#banner-container .banner-input-container form .input-container input,
#banner-container .banner-input-container form .input-container select {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-secondary);
    border: none;
    outline: none;
}

#banner-container .banner-input-container form .input-container input[type="text"],
#banner-container .banner-input-container form .input-container select {
    padding: 0 14px;
    background-color: #fff;
    color: rgba(19, 19, 24, 0.50);
}

#banner-container .banner-input-container form .input-container button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#banner-container .banner-input-container form .input-container span {
    height: 24px;
    width: 24px;
}

#banner-container .banner-input-container form .input-container span img {
    width: 100%;
    object-fit: cover;
}

/* Banner Styles End */

/* Our Popular Tour Section Styles Start */
#popular-tours-section {
    height: 550px;
    width: 100%;
    margin: 100px auto;
    display: flex;
    gap: 53px;
}

#popular-tours-section .popular-tours-text-container {
    height: 100%;
    width: 50%;
    border: 1px solid green;
}

#popular-tours-section .popular-tours-text-container h2 {
    font-size: var(--font-size-section-header);
    font-weight: var(--font-weight-bold);
}

#popular-tours-section .popular-tours-text-container p,
#popular-tours-section .popular-tours-text-container li {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    margin: 24px 0;
    color: var(--accent-color);
    line-height: 26px;
}

#popular-tours-section .popular-tours-text-container ul {
    margin-left: 20px;
}

#popular-tours-section .popular-tours-text-container .popular-tours-description-footer-text {
    color: var(--accent-light-color);
    margin-bottom: 46px;
}

#popular-tours-section .popular-tours-image-container {
    height: 100%;
    width: 50%;
    background-image: var(--background-image-popular-tour);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--border-radius-primary);
}



/* Our Popular Tour Section Styles End */