@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');

:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --accent-color: rgba(19, 19, 24, 0.70);
    --accent-light-color: #5A5A5D;
    --font-size-page-header: 4rem;
    --font-size-section-header: 2.5rem;
    --font-size-section-title: 1.5rem;
    --font-size-price: 1.25rem;
    --font-size-normal: 1rem;
    --font-weight-bold: 800;
    --font-weight-semibold: 700;
    --font-weight-normal: 400;
    --font-family-body: 'Mulish', sans-serif;
    --font-family-inter: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-body);
}

header,
main {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
}